<div *ngIf="moviesList">

<nav aria-label="Page navigation">
  <ul class="pagination">
    <li [ngClass]="{'disabled': moviesList.page === 1}">
      <a class="hover" (click)="getMoviesList(sort, 1)">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li [ngClass]="{'active': i===moviesList.page}" 
      *ngFor="let i of getPageRange(moviesList.page, moviesList.total_pages)">
      <a class="hover" (click)="getMoviesList(sort, i)">
          {{i}}
      </a>
    </li>
    <li [ngClass]="{'disabled': moviesList.page === moviesList.total_pages}">
      <a class="hover" (click)="getMoviesList(sort, moviesList.total_pages)">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>

  <!-- <select (change)="getMoviesList($event.target.value)">
    <option *ngFor="let in of counter(moviesList.total_pages); let i=index">{{i + 1}}</option>
  </select> -->

  <div *ngFor="let movie of moviesList.results">
    <p>{{movie.title}}</p>
    <img src="http://image.tmdb.org/t/p/w185/{{movie.poster_path}}"
      onerror="this.src='../../assets/images/placeholder-movieimage.png'"
      alt="{{movie.title}}">
  </div>
</div>