<div class="cmp" *ngIf="movie">
  <div class="bg"
    [ngStyle]="{'background-image': 'url(http://image.tmdb.org/t/p/original/' + movie.backdrop_path + ')'}">
    <div class="container">
      
      <div class="typing-area">
        <h1>{{movie.title}}</h1>
        <span
          *ngFor="let char of movie.typing_array; index as i"
          [attr.value]="char"
          class="letter"
          [ngClass]="{'letter-active': i===0}"
          >{{char}}</span>
      </div>

      <div class="panel panel-default">
        <div class="panel-body">
          <h1>Movie Details</h1>
          <dl class="dl-horizontal">
            <div *ngIf="movie.title">
              <dt>Title:</dt>
              <dd>{{movie.title}}</dd>
            </div>
            <div *ngIf="movie.budget">
              <dt>Budget:</dt>
              <dd>{{movie.budget | currency:'USD':'symbol':'1.0'}}</dd>
            </div>
            <div *ngIf="movie.homepage">
              <dt>Homepage:</dt>
              <dd><a href="{{movie.homepage}}"> {{movie.homepage}}</a></dd>
            </div>
            <div *ngIf="movie.runtime">
              <dt>Runtime:</dt>
              <dd>{{movie.runtime}} minutes</dd>
            </div>
            <div *ngIf="movie.revenue">
              <dt>Revenue:</dt>
              <dd>{{movie.revenue | currency:'USD':'symbol':'1.0'}}</dd>
            </div>
          </dl>
        </div>
      </div>
      
    </div>
  </div>
</div>
